
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="mt-4 mb-4">
        <i class="fas fa-pencil-alt"></i>
        レビュー投稿
      </h2>
      <%= form_with(model: @post, local: true) do |f| %>
        <%= render "layouts/errors", obj: @post %>

        <%= f.label :"夜景スポット名" %><br>
        <%= f.text_field :title, class: "form-control" %><br>
        <%# 星評価 %>
        <div class="view-star-eval">
          <div class="star-form-group" id="star1">
            <%= f.label :chillout,'chillout　　　    ', class:'weight-bold-text star-title' %>
          </div>
          <div class="star-form-group" id="star2">
            <%= f.label :atmosphere,'雰囲気　　　　　', class:'weight-bold-text star-title' %>
          </div>
          <div class="star-form-group" id="star3">
            <%= f.label :beautiful,'美しさ           ', class:'weight-bold-text star-title' %>
          </div>
          <div class="star-form-group" id="star4">
            <%= f.label :access,'アクセス　　      　', class:'weight-bold-text star-title' %>
          </div>
          <div class="star-form-group" id="star5">
            <%= f.label :congestion,'穴場度（混雑度）', class:'weight-bold-text star-title' %>
          </div>
          <div class="star-form-group" id="star6">
            <%= f.label :evaluation,'総合評価　　     ', class:'weight-bold-text star-title' %>
          </div>

          <!-- 星評価javascript -->
          <%= render "public/shared/star_eval_new.html.erb" %>


          <!--< %= f.hidden_field :star, id: :review_star %>-->
        </div>

        <%= f.label :"紹介" %><br>
        <%= f.text_area :body, class: "form-control py-5" %><br>
        <%= f.label :"夜景スポット画像" %><br>
        <%= f.file_field :spot_image %><br>
        <%= f.label :"住所", class: "mt-4" %><br>
        <%= f.text_field :address, class: "form-control" %> <br>
        <!--< %= f.label :"スペースを入力することで複数のタグを付けることができます。", class: "mt-4" %><br>-->
        <!--< %= f.text_field :tag_name, placeholder: "山 市街地 海　工場　イルミネーション", class: "form-control" %>-->


        <div class="row mt-3 mb-4">
          <%= f.submit "投稿する", class: "mt-3 btn btn-outline-success rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

