<div class="container">
  <div class="row">
    <h2 class="col-md-2 mt-4 mb-4">タグ一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="table-warning">
          <th>タグ</th>
        </tr>
      </thead>
      <% @tags.each do |tag| %>
      <tbody>
        <tr>
         <td>
        <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
        <%= "(#{tag.posts.count})" %>
         </td>
        </tr>
      <% end %>

      <h3 class="col-md-2 mt-4 md-4">タグ検索</h3>
        <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <div class="col-md-4 mt-4 md-4">
            <%= text_field_tag :search%>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= submit_tag '検索', class: "btn btn-sm col-md-2  mt-0 md-4 btn-warning"%>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
    <div class="pagination justify-content-center"> <%= paginate @tag %></div>
  </div>
</div>


      <!--  <div class="col-md-5 mb-1 mb-md-0">-->
      <!--    < %= f.text_field :word, class: 'form-control form-control-sm' %>-->
      <!--  </div>-->
      <!--  <div class="col-md-2 mb-1 mb-md-0">-->
      <!--    < %= f.select :range, options_for_select([['ユーザー'], ['スポット']]), {}, class: "form-control form-control-sm" %>-->
      <!--  </div>-->
      <!--  <div class="col-md-3 mb-1 mb-md-0">-->
      <!--    < %= f.select :search,-->
      <!--      options_for_select(-->
      <!--          [-->
      <!--            ["完全一致","perfect_match"],-->
      <!--            ["前方一致","forward_match"],-->
      <!--            ["後方一致","backward_match"],-->
      <!--            ["部分一致","partial_match"]-->
      <!--          ]-->
      <!--        ), {}, class: "form-control form-control-sm" %>-->
      <!--  </div>-->
      <!--  <div class="col-md-2">-->
      <!--    < %= f.submit "検索", class: "btn btn-sm btn-block btn-warning" %>-->
      <!--  </div>-->
      <!--</div>-->