<div class="container">
  <div class="row">
    <h2 class="col-md-2 mt-4 mb-4">タグ一覧</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="table-warning">
          <th>タグ</th>
        </tr>
      </thead>
      <% @tag_list.each do |list| %>
      <tbody>
        <tr>
          <td>
            <i><%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %></i>
            <%= "(#{list.posts.count})" %>
          </td>
        </tr>

      <% end %>

      <h3 class="col-md-2 mt-4 md-4">タグ検索</h3>
        <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <div class="col-md-4 mt-4 md-4">
             <%= text_field_tag :search %>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <%= submit_tag '検索', class: "btn btn-sm col-md-2  mt-0 md-4 btn-warning"%>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
    <div class="pagination justify-content-center"> <%= paginate @tag %></div>
  </div>
</div>


